<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <%= stylesheet_link_tag "q.core.min" %>
    <%= stylesheet_link_tag "core.min" %>
    <%= javascript_include_tag "site" %>
  </head>

  <body class="<%= page_classes %>">
    <div class="tl_page_wrap">
      <div class="tl_page">
        <main class="tl_article">
          <header class="tl_article_header">
            <h1><%= current_page.data.title %></h1>
            <address>
            </address>
          </header>
          <article class="tl_article_content ql-container ql-disabled">
            <%= yield %>
          </article>
        </main>
      </div>
    </div>
  </body>
</html>
